.Cards{
    display: flex;
   
    justify-content: center;
    align-items: center;
        gap: 0px;
    padding-top: 30px;
  


}
.parentContainer{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    

    
}
.radialBar{
width: 80px;
padding: 10px;
}